@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: black;
}

html.dark body {
  background: #050505;
  color: white;
}





